In [51]:
import pandas as  pd
import re

In [227]:
file_path = 'D:/gitcode/PPJUtils/utils/citycountry_lonlat.txt'
obj_path =  'D:/gitcode/PPJUtils/utils/citycountry_lonlat_fixed.txt'

In [228]:
citycountry_lonlat = pd.read_table(file_path, header= -1, encoding='utf-8', sep = ' ')

In [229]:
citycountry_lonlat.columns = ["countryname", "lon", "lat"]

In [235]:
citycountry_lonlat.head(10)

  countryname     lon    lat
0        上海上海  121.48  31.22
1        上海嘉定  121.24   31.4
2        上海宝山  121.48  31.41
3        上海川沙   121.7  31.19
4        上海南汇  121.76  31.05
5        上海奉贤  121.46  30.92
6        上海松江  121.24     31
7        上海金山  121.16  30.89
8        上海青浦   121.1  31.15
9        上海崇明   121.4  31.73

** 看哪种切割方式，如果是用：分隔，则新变成4列

In [186]:
# citycountry_lonlat = citycountry_lonlat.drop("city", axis = 1)

In [231]:
# 解析出城市名称
citycountry_lonlat.countryname = citycountry_lonlat.countryname.apply(lambda x: x.split(':')[1] if len(x.split(':'))>1 else '')

In [232]:
#解析出经度
citycountry_lonlat.lon[2].split(":")[1]

'121.48'

In [233]:
# 解析出经度
citycountry_lonlat.lon = citycountry_lonlat.lon.apply(lambda x: x.split(':')[1] if len(x.split(':'))>1 else '')

In [234]:
# 解析出维度
citycountry_lonlat['lat']=citycountry_lonlat.lat.apply(lambda x: x.split(':')[1] if len(x.split(':'))>1 else '')

In [236]:
# 把整理好的文件输出来；
citycountry_lonlat.to_csv(obj_path, sep = '\t', index = False)

In [217]:
# 利用正则方式来替换不需要的文件；
def trim_text(x):
    if len(x)>1:
        pattern = re.compile(r'^[城市:|^经度:|^维度:]*')
        y = re.sub(pattern,"",x)
        return y

In [218]:
sample = '经度:121.48'
trim_text(sample)

'121.48'

In [223]:
citycountry_lonlat.lon.apply(trim_text)

0       121.48
1       121.24
2       121.48
3        121.7
4       121.76
5       121.46
6       121.24
7       121.16
8        121.1
9        121.4
10      102.73
11      102.48
12      102.58
13      102.79
14      102.44
15       103.7
16      103.63
17      103.91
18      104.06
19      103.54
20      103.97
21      104.28
22      105.05
23      104.86
24      102.92
25      104.38
26      103.79
27      104.09
28      104.24
29      103.97
         ...
2230    131.12
2231     130.5
2232    129.47
2233    129.35
2234    126.95
2235    126.58
2236    127.38
2237    127.48
2238    128.03
2239     128.7
2240     128.8
2241    128.35
2242    127.95
2243    127.17
2244    126.32
2245     124.4
2246    124.85
2247    125.87
2248    126.22
2249    126.07
2250     125.3
2251    124.87
2252    123.45
2253    123.18
2254    123.48
2255    124.44
2256    124.07
2257     126.6
2258     124.7
2259    122.37
Name: lon, dtype: object